Repository sensu-plugins/sensu-plugins-rabbitmq, pull requests merged in 2018-06, with the labels that each got.

#95 metrics-overview: export "total objects" (consumers, connections, etc.)
  CHANGELOG.md
  bin/metrics-rabbitmq-overview.rb
Labels: Area: Metric, Type: Enhancement

#96 metrics-overview: simplify metrics collection
  CHANGELOG.md
  bin/metrics-rabbitmq-overview.rb
Labels: Area: Metric, Status: Needs Review, Type: Enhancement

#97 Update rest-client to 2.0.2
  CHANGELOG.md
  sensu-plugins-rabbitmq.gemspec
Labels: Impact: Breaking Change, Type: Enhancement
